@import "http://webfonts.ru/import/montserrat.css";
@import "http://webfonts.ru/import/roboto.css";
@import "https://fonts.googleapis.com/css?family=Kaushan+Script";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

header {
  padding-top: 100px;
  background: #fff url(../img/1.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
header hr {
  width: 60px;
  display: inline-block;
  border: none;
  background-color: #fff;
  height: 3px;
  margin-top: 70px;
}
header button {
  border: none;
  background-color: transparent;
  box-shadow: 0 0 0 3px #fff;
  padding: 10px 30px;
  font: 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  margin-bottom: 220px;
}
@media only screen and (max-width: 480px) {
  header button {
    margin-bottom: 110px;
  }
}
header button:hover {
  background-color: #fff;
  color: #FCE18E;
}

.facts {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #98E1D2;
  color: #fff;
  text-align: center;
}
.facts .row div {
  padding: 0;
}
.facts .facts__quantity {
  font: bold 72px "Montserrat", sans-serif;
  margin: 0;
}
.facts .facts_description {
  display: inline-block;
  font: 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
}

.service {
  padding-bottom: 50px;
}
.service .row div {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .service .row div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.service .row div img {
  float: left;
  margin: 0 20px 40px 0;
}
@media only screen and (max-width: 768px) {
  .service .row div img {
    margin: 0 20px 80px 0;
  }
}
.service .row div .service__head {
  font: bold 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.service .row div .service__desc {
  font: 15px "Roboto", sans-serif;
  color: #ccc;
}

.feature {
  background: #fff url(../img/5.jpg) 0 0 no-repeat;
  background-size: cover;
  position: relative;
}
.feature .feature__tablet {
  display: block;
  margin: 0 auto;
  z-index: 100;
}
.feature .feature__phone {
  display: block;
  position: absolute;
  top: 455px;
  left: 58.5%;
}
@media only screen and (max-width: 1440px) {
  .feature .feature__phone {
    left: 62.4%;
  }
}
@media only screen and (max-width: 991px) {
  .feature .feature__phone {
    left: 66.4%;
  }
}
@media only screen and (max-width: 768px) {
  .feature .feature__phone {
    display: none;
  }
}

.service2 {
  padding-bottom: 100px;
}

@media only screen and (max-width: 991px) {
  .service2__list {
    margin-top: 50px;
  }
}
.service2__list input {
  display: none;
}
.service2__list input:checked + label {
  color: #98E1D2;
}
.service2__list input:checked + label:after {
  transform: rotateX(0deg);
}
.service2__list input:checked + label + div {
  height: 200px;
  padding: 15px;
  opacity: 1;
}
.service2__list label {
  display: block;
  margin: 5px 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
.service2__list label:after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 12px;
  background: #fff url(../img/arrow_to.png) 0 0 no-repeat;
  float: right;
  margin-top: 9px;
  margin-right: 15px;
  transform: rotateX(180deg);
  transition: transform 0.5s;
}
.service2__list label:nth-child(1) {
  margin-top: 0;
}
.service2__list label img {
  margin: 0 15px;
}
.service2__list label span {
  font: bold 14px "Montserrat", sans-serif;
  text-transform: uppercase;
}
.service2__list .service2__desc {
  height: 0;
  overflow: hidden;
  margin: 0 20px;
  color: #ccc;
  text-align: justify;
  font: italic 300 15px/1.5 "Roboto", sans-serif;
  box-sizing: border-box;
  transition: height 0.5s;
  border-bottom: 1px solid #ccc;
  opacity: 0;
}

#carousel-2 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F8F8F8;
}
#carousel-2 h1 {
  font: italic 300 24px/1.5 "Roboto", sans-serif;
  color: #ccc;
  margin: 0;
  padding-left: 20px;
}
@media only screen and (max-width: 768px) {
  #carousel-2 h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  #carousel-2 h1 {
    font-size: 14px;
    text-align: center;
    padding-right: 15px;
  }
}
#carousel-2 hr {
  display: inline-block;
  border: none;
  width: 60px;
  height: 3px;
  background-color: #EF7E80;
  float: left;
  margin-right: 10px;
  margin-left: 20px;
}
@media only screen and (max-width: 480px) {
  #carousel-2 hr {
    display: block;
    float: none;
    margin: 20px auto;
  }
}
#carousel-2 .author {
  font: 24px "Kaushan Script", cursive;
  display: inline-block;
  margin-top: 5px;
}
@media only screen and (max-width: 480px) {
  #carousel-2 .author {
    text-align: center;
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  #carousel-2 img {
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    width: 30%;
    height: auto;
  }
}

.team {
  text-align: center;
  padding-bottom: 100px;
}
.team .team__photo {
  background-size: 100%;
  transition: all 0.6s;
  padding: 0;
}
.team .team__photo:hover {
  box-shadow: 10px 10px 0 #98E1D2;
}
.team .team__photo .team__social {
  text-align: center;
  padding-top: 50%;
  padding-bottom: 50%;
  opacity: 0;
  background: #fff linear-gradient(#EF7E80, #FCE18E) 0 0 no-repeat;
  transition: all 0.6s;
}
.team .team__photo .team__social:hover {
  opacity: 0.85;
}
.team .team__photo .team__social ul {
  display: inline-block;
}
.team .team__photo .team__social ul li {
  float: left;
}
.team .team__photo .team__social ul li a {
  display: block;
  padding: 10px 15px;
  font-size: 26px;
  color: #EF7E80;
  background-color: #FCE18E;
  transition: all 0.3s;
  opacity: none;
}
.team .team__photo .team__social ul li a:hover {
  background-color: #EF7E80;
  color: #fff;
}
.team .team__photo-one {
  background: #fff url(../img/team/3.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.team .team__photo-two {
  background: #fff url(../img/team/2.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.team .team__photo-three {
  background: #fff url(../img/team/1.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.team .team__name {
  text-align: center;
  font: bold 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 25px;
}
.team .team__profession {
  font: italic 300 15px "Roboto", sans-serif;
  margin-top: 15px;
  margin-bottom: 25px;
  color: #ccc;
}

.logos {
  background-color: #F4F4F5;
  padding-top: 65px;
  padding-bottom: 65px;
}
@media only screen and (max-width: 768px) {
  .logos .logos__item {
    height: 150px;
  }
}
@media only screen and (max-width: 991px) {
  .logos .logos__item img {
    display: block;
    margin: 20px auto;
  }
}

.work {
  text-align: center;
  padding-bottom: 100px;
}
.work .row div {
  padding: 0;
}
.work .work__photo {
  background-size: 100%;
  transition: all 0.6s;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .work .work__photo {
    background-size: cover !important;
  }
}
.work .work__photo .work__social {
  text-align: center;
  padding-top: 35%;
  padding-bottom: 35%;
  opacity: 0;
  background: #fff linear-gradient(#EF7E80, #FCE18E) 0 0 no-repeat;
  transition: all 0.6s;
}
.work .work__photo .work__social:hover {
  opacity: 0.85;
}
.work .work__photo-one {
  background: #fff url(../img/works/7.jpg) 50% 50% no-repeat;
}
.work .work__photo-two {
  background: #fff url(../img/works/6.jpg) 50% 50% no-repeat;
}
.work .work__photo-three {
  background: #fff url(../img/works/3.jpg) 50% 50% no-repeat;
}
.work .work__photo-four {
  background: #fff url(../img/works/2.jpg) 50% 50% no-repeat;
}
.work .work__photo-five {
  background: #fff url(../img/works/4.jpg) 50% 50% no-repeat;
}
.work .work__photo-six {
  background: #fff url(../img/works/8.jpg) 50% 50% no-repeat;
}
.work .work__photo-seven {
  background: #fff url(../img/works/Frozen-feature.png) 50% 50% no-repeat;
}
.work .work__photo-eight {
  background: #fff url(../img/works/1.jpg) 50% 50% no-repeat;
}
.work .work__team {
  text-align: center;
  font: 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 1px;
}

#carousel-3 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F8F8F8;
}
#carousel-3 h1 {
  font: italic 300 24px/1.5 "Roboto", sans-serif;
  color: #ccc;
  margin: 0;
  padding-left: 20px;
}
@media only screen and (max-width: 768px) {
  #carousel-3 h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  #carousel-3 h1 {
    font-size: 14px;
    text-align: center;
    padding-right: 15px;
  }
}
#carousel-3 hr {
  display: inline-block;
  border: none;
  width: 60px;
  height: 3px;
  background-color: #EF7E80;
  float: left;
  margin-right: 10px;
  margin-left: 20px;
}
@media only screen and (max-width: 480px) {
  #carousel-3 hr {
    display: block;
    float: none;
    margin: 20px auto;
  }
}
#carousel-3 .author {
  font: 24px "Kaushan Script", cursive;
  display: inline-block;
  margin-top: 5px;
}
@media only screen and (max-width: 480px) {
  #carousel-3 .author {
    text-align: center;
    display: block;
  }
}
#carousel-3 img {
  float: right;
}
@media only screen and (max-width: 768px) {
  #carousel-3 img {
    float: none;
    margin: 30px auto;
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  #carousel-3 img {
    float: none;
    margin: 30px auto;
    display: block;
    width: 60%;
    height: auto;
  }
}

.wps {
  background: #fff url(../img/wps/bg.png) 50% 50% no-repeat;
  background-size: cover;
}
.wps .row {
  padding-top: 90px;
}
.wps .row div {
  margin-bottom: 120px;
}
@media only screen and (max-width: 768px) {
  .wps .row div {
    margin-bottom: 50px;
  }
}
.wps .row .wps__photo {
  float: left;
  height: 100%;
  margin-right: 30px;
  margin-bottom: 100px;
}
.wps .row h4 {
  font: bold 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.wps .row span {
  font: italic 300 15px "Roboto", sans-serif;
  display: block;
}
.wps .row hr {
  display: block;
  border: none;
  height: 3px;
  width: 60px;
  background-color: #EF7E80;
  margin-left: 0;
}
.wps .row p {
  font: 16px/1.5 "Roboto", sans-serif;
  color: #c6c6c6;
}
@media only screen and (max-width: 768px) {
  .wps .row p {
    font: 14px/1.5 "Roboto", sans-serif;
  }
}

.blog {
  padding-bottom: 100px;
}
.blog h4 {
  font: bold 14px "Montserrat", sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 20px;
  height: 50px;
}
.blog p {
  font: 15px/1.5 Roboto;
  color: #ccc;
  height: 90px;
}
.blog span {
  font: italic 300 15px "Roboto", sans-serif;
  color: #ccc;
}
.blog hr {
  border: none;
  height: 1px;
  background-color: #c6c6c6;
}
.blog .blog__photo {
  padding-top: 25%;
  padding-bottom: 25%;
  background-size: cover;
}
@media only screen and (max-width: 766px) {
  .blog .blog__photo {
    margin-top: 20px;
  }
}
.blog .blog__photo img {
  position: relative;
  top: 75px;
  left: -10px;
}
@media only screen and (max-width: 1199px) {
  .blog .blog__photo img {
    top: 65px;
  }
}
@media only screen and (max-width: 991px) {
  .blog .blog__photo img {
    top: 45px;
    width: 50px;
  }
}
@media only screen and (max-width: 766px) {
  .blog .blog__photo img {
    top: 45px;
    width: 50px;
  }
}
.blog .blog__photo-one {
  background: #fff url(../img/blog/1.jpg) 50% 50% no-repeat;
}
@media only screen and (max-width: 766px) {
  .blog .blog__photo-one {
    background-size: cover;
  }
}
.blog .blog__photo-two {
  background: #fff url(../img/blog/2.jpg) 50% 50% no-repeat;
}
@media only screen and (max-width: 766px) {
  .blog .blog__photo-two {
    background-size: cover;
  }
}
.blog .blog__photo-three {
  background: #fff url(../img/blog/3.jpg) 50% 50% no-repeat;
}
@media only screen and (max-width: 766px) {
  .blog .blog__photo-three {
    background-size: cover;
  }
}

.map {
  background: #fff url(../img/map/1.jpg) 50% 50% no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}
.map img {
  display: block;
  margin: 15px auto;
}
.map .h1 {
  color: #EF7E80;
}
.map hr {
  margin: 15px auto !important;
}

footer {
  padding-top: 70px;
  padding-bottom: 20px;
}
footer .row {
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
}
footer .row div .row {
  margin-top: 55px;
  padding-right: 1px;
  border: none;
  padding-bottom: 0;
}
@media only screen and (max-width: 991px) {
  footer .row div .row {
    margin-left: 2px;
    margin-right: 5px;
  }
}
footer .row div .row div {
  padding: 1px;
}
footer .row div .row div img {
  width: 100%;
}
footer .logo {
  margin-bottom: 40px;
}
footer p {
  font: 15px/1.65 "Roboto", sans-serif;
  margin-bottom: 45px;
  color: #c6c6c6;
}
footer .count__folowers {
  font: bold 16px "Montserrat", sans-serif;
  margin-right: 5px;
}
footer .count__folowers + span {
  font: 14px "Montserrat", sans-serif;
}
footer hr {
  border-top: 1px solid #E4E4E4;
  margin: 15px 0;
}
footer .social span {
  font: italic 15px "Roboto", sans-serif;
  color: #ccc;
  margin-right: 15px;
}
footer .social img {
  display: inline-block;
  margin: 0px 7px;
}
@media only screen and (max-width: 330px) {
  footer .social img {
    margin: 5px 3px;
  }
}
footer input {
  padding: 10px;
  border: none;
  margin-top: 55px;
  box-shadow: 0 0 0 1px #ccc;
  font: italic 300 16px "Roboto", sans-serif;
  float: left;
}
@media only screen and (max-width: 330px) {
  footer input {
    width: 60%;
  }
}
footer button {
  border: none;
  background-color: #98E1D2;
  text-transform: uppercase;
  font: 14px "Montserrat", sans-serif;
  padding: 12px 35px;
  margin-top: 54px;
  float: left;
  color: #fff;
  letter-spacing: 1px;
}
@media only screen and (max-width: 330px) {
  footer button {
    padding: 12px;
  }
}
@media only screen and (max-width: 991px) {
  footer .blogs {
    margin-top: 50px;
  }
}
footer .blogs .blogs__title {
  font: bold 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: -15px;
  left: 15px;
}
@media only screen and (max-width: 991px) {
  footer .blogs .blogs__title {
    left: 0;
  }
}
footer .blogs .blogs__item {
  height: 100px;
}
footer .blogs .blogs__item:first-child {
  margin-top: 60px;
}
footer .blogs .blogs__img {
  float: left;
  margin: 15px;
}
@media only screen and (max-width: 991px) {
  footer .blogs .blogs__img {
    margin: 10px 20px 10px 0;
  }
}
footer .blogs h4 {
  font: 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  position: relative;
  top: 20px;
}
footer .blogs span {
  display: inline-block;
  position: relative;
  top: 30px;
  font: italic 300 14px "Roboto", sans-serif;
  color: #ccc;
}
@media only screen and (max-width: 991px) {
  footer .instagram {
    margin-top: 50px;
  }
}
footer .instagram .instagram__title {
  font: bold 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: -10px;
}
@media only screen and (max-width: 991px) {
  footer .instagram .instagram__title {
    left: 0;
  }
}
footer .instagram span {
  display: inline-block;
  margin-top: 15px;
  font: italic 15px "Roboto", sans-serif;
  color: #ccc;
  text-transform: uppercase;
  margin-left: -16px;
}
@media only screen and (max-width: 991px) {
  footer .instagram span {
    margin-left: 2px;
  }
}

.about {
  text-align: center;
  padding-bottom: 100px;
}
.about .about__photo {
  background-size: 100%;
  transition: all 0.6s;
  padding: 0;
}
.about .about__photo:hover {
  box-shadow: 10px 10px 0 #98E1D2;
}
.about .about__photo .about__social {
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  opacity: 0;
  background: #fff linear-gradient(#EF7E80, #FCE18E) 0 0 no-repeat;
  transition: all 0.6s;
}
@media only screen and (max-width: 768px) {
  .about .about__photo .about__social {
    margin-top: 40px;
  }
}
.about .about__photo .about__social:hover {
  opacity: 0.85;
}
.about .about__photo-one {
  background: #fff url(../img/2.jpg) 50% 50% no-repeat;
  background-size: 100% 100%;
}
.about .about__photo-two {
  background: #fff url(../img/3.jpg) 50% 50% no-repeat;
  background-size: 100% 100%;
}
.about .about__photo-three {
  background: #fff url(../img/4.jpg) 50% 50% no-repeat;
  background-size: 100% 100%;
}
.about .about__team {
  text-align: center;
  font: bold 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 1px;
}

.h1 {
  font: bold 30px "Montserrat", sans-serif;
  color: #363636;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.h2 {
  font: 24px "Kaushan Script", cursive;
  color: #363636;
  padding-top: 85px;
  padding-bottom: 10px;
  text-align: center;
}

.main-font {
  color: #979797;
  text-align: center;
  display: inline-block;
  margin-bottom: 90px;
}

.hrred {
  border: none;
  height: 3px !important;
  background-color: #EF7E80 !important;
  width: 60px;
  margin: 35px auto !important;
}

.create {
  display: block;
  text-align: center;
  font: 72px "Kaushan Script", cursive;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 25px;
}
@media only screen and (max-width: 991px) {
  .create {
    font-size: 36px;
  }
}
@media only screen and (max-width: 480px) {
  .create {
    font-size: 30px;
    padding-top: 75px;
  }
}

.welcome {
  display: block;
  color: #fff;
  font: bold 150px/0.9em "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  .welcome {
    font-size: 72px;
  }
}
@media only screen and (max-width: 480px) {
  .welcome {
    font-size: 44px;
  }
}

address {
  font: bold 14px "Montserrat", sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
}
address span {
  color: #EF7E80;
}
